.button {
  background: #0078bb;
  border-radius: 4px;
  color: #ffffff;

  border: none;

  cursor: pointer;

  transition: all 0.2s ease;
}

.button:hover,
.button:focus {
  background: #62b9ea;
}

.button:active {
  background: #0A6EA6;
  color: rgba(255, 255, 255, 0.6);
}

.button_size_big {
  font-size: 20px;
  line-height: 26px;
  padding: 15px 22px;
}

.button_size_small {
  font-size: 16px;
  line-height: 21px;
  padding: 5px 30px;
}

.button:active .button__svg path {
  fill: rgba(255, 255, 255, 0.6);
}

.button__svg {
  width: 18px;
  height: 16px;
}

.button__svg path {
  fill: #ffffff;

  transition: all 0.2s ease;
}
