.form {
  display: flex;
  flex-direction: column;

  gap: 33px;
}

.form__checkbox:not(:last-of-type) {
  margin-bottom: 27px;
}

.form__input:not(:last-of-type) {
  margin-bottom: 25px;
}

.form__button {
  margin-top: 27px;
  align-self: center;
}

@media screen and (max-width: 767px) {
  .form__button {
    align-self: stretch;
  }
}
