.nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav__list {
  display: flex;
  padding: 0;

  gap: 25px;
}

.nav__item {
  list-style: none;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav {
    flex-direction: column;
    gap: 0;
  }

  .nav__list {
    margin-right: 0;
    gap: 20px;
  }
}
