.photos {
  display: flex;
  flex-direction: column;
}
.photos__heading {
  margin: 0 0 16px 0;
}

.photos__list {
  padding: 0;
}

.photos__item {
  list-style: none;
}

.photos__item:not(:last-of-type) {
  margin-bottom: 16px;
}

.photos__image {
  max-width: 300px;
}

@media screen and (max-width: 767px) {
  .photos__image {
    min-width: 100%;
    max-width: initial;
  }
}
