.photos {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.photos__heading {
  margin: 0;
}

.photos__list {
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.photos__item {
  list-style: none;
}

.photos__image {
  max-width: 300px;
}

@media screen and (max-width: 767px) {
  .photos__image {
    min-width: 100%;
    max-width: initial;
  }
}
